#u97-4
{
	color: #FFFFFF;
	font-size: 63px;
	position: relative;
}

#u100-4
{
	color: #D8D8D8;
	font-size: 24px;
	font-style: italic;
	position: relative;
}

#u381,#u394,#u395,#u864
{
	position: relative;
}

