body {
    padding-top: 60px;
    padding-bottom: 40px;
/* 	background-image: url('../images/background.png'); */
	background-color: #f5f5f5;
	font-size: 16px;
}

h1 {
	font-family: Myriad Pro, Verdana;
	font-weight: 600;
	font-size: 42px;
	padding: 5px;
	color: rgb(13,85,135);
	margin: 0;
}

h2{
	font-family: 'Myriad Pro', Verdana;
	font-weight: normal;
	margin: -7;
	font-size: 18px;
	color: rgb(13,85,135);
	/* color: #7f7f7f; */
	color: #666;
	font-weight: 100;
	margin-bottom: 0px;
	text-align: center;

}

h3{
	font-family: 'Myriad Pro', Verdana;
	color: rgb(13,85,135);
	font-size: 20px;
	line-height: 60%;
	margin-bottom: 0px;
}

h3.android{
	font-size:24px;
	font-weight: 200;
}

h4{
	font-family: 'Myriad Pro', Verdana;
	color: rgb(13,85,135);
	font-size: 16px;
	line-height: 60%;
	margin-bottom: 15px;
}

a:link {
	font-weight: 400;
	text-decoration: none;	
	color: rgba(25,142,226,1);
}

a:visited {
	font-weight: 400;
	text-decoration: underline;	
	color: #9d371e;
}

a:hover{
	font-weight: 400;
	text-decoration: underline;	
	color: #e34c25;
}

p, li{
	font-family: 'Myriad Pro', Verdana;
	font-size: 16px;
	line-height: 1.8em;
	color: #151515;
	margin-bottom: 1.8em;
}

p.small{
	font-size: 14px;
	line-height: 1.8em;
	margin-bottom: 20px;
}

p.stayInTouch{
	font-size: 14px;
	line-height: 1.4em;
	margin-bottom: 0;
	text-align: left;
}

table.stayInTouch{
	width: 280px;
	font-size: 14px;
	line-height: 1.4em;
	margin-bottom: 0;
	text-align: left;
}

p.lede{
	font-size: 24px;
	line-height: 2em;
	margin-top:10px;
	margin-bottom:30px;
}

span.largeText{
	font-size:48px;
	color: rgb(13,85,135);
}

#content{
	width: 1150px;
	margin: 0 auto;
	margin-top: 20px;
	
}

#help_content{
	width: 320px;
	margin: 20px 10px; auto 10px;
}

#toc_content{
	margin: 40px auto auto 0px;
	padding-top: 20px;
	border-top: 1px solid #666;
}

#toc_content ul{
	width=85%;
}

#main_content{
	margin: 40px auto auto 0px;
	padding-top: 20px;
	border-top: 1px solid #666;
	}
	
 #faq_content{
	margin: 40px auto auto 0px;
	padding-top: 20px;
	border-top: 1px solid #666;
}

#header
{
	padding: 3px;
	background-color: rgba(233,171,73,.5);
	margin-top: 10px;
	-webkit-box-shadow: 0 5px 6px -6px grey;
	   -moz-box-shadow: 0 5px 6px -6px grey;
	        box-shadow: 0 5px 6px -6px grey;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#title{
	text-align: center;
}

#intro{
	width:820px;
	float:right;
	padding: 0px;
	margin-top:0px;
	margin-bottom: 10px;
	background-color: rgba(255,255,255,.0);
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
/*     border:1px solid #f5f5f5; */
    
}

#side{
	width: 306px;
	float: left;	
}

div#download{
	background-color: rgba(255,255,255,1);
	background-image: none;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-box-shadow:    inset 0 0 6px #999;
    -webkit-box-shadow: inset 0 0 6px #999;
    box-shadow:         inset 0 0 6px #999;
    border:1px solid #f3f3f3;
    border-radius: 5px;
	margin-top: 10px;
	padding: 15px;
/* 	background-image:  url("../images/appStoreIcon512.png"); */
	background-size: 304px auto;
	background-repeat: no-repeat;
/* 	height: 370px; */
}


div#download h4{
	line-height: 1em;
	padding-top:0;
	margin-top:-15px;
	margin-bottom: 15px;
	font-weight: 100;
	font-size: 24px;
}
	
div#partners, div#contact{
	background-color: rgba(255,255,255,1);
	background-image: none;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-box-shadow:    inset 0 0 6px #999;
    -webkit-box-shadow: inset 0 0 6px #999;
    box-shadow:         inset 0 0 6px #999;
    border:1px solid #f3f3f3;
    border-radius: 5px;
	margin-top: 10px;
	padding: 15px;}
}	

#download img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#partners img{
	padding:0px;
}

#partners .gt{
/* 	margin-top: 14px; */
	padding-bottom: 10px;
	float: right;
	display: inline;
}

#partners .arc{
/* 	margin-top: 14px; */
	padding-top: 23px;
	padding-right: 8px;
	float: right;
	display: inline;
}

.supportDocs{
	width: 48%;
	float:left;
}

.left{
	width: 50%;
	margin-right:20px;
	float:left;
}

.right{
	width: 48%;
	float:right;
}

.app{
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 10px;
	text-align: center;
	padding-top:10px;
	padding-bottom:20px;
}

div.app img.artwork{
	margin-bottom:40px;
}
table.storeIcons{
	text-align: center;
	width:275px;
}

.supportDocs a img {
	text-align: center;
	padding: 3px;
	background-color: rgba(25,142,226,1);
}

.supportDocs a:hover img {
	text-align: center;
	padding: 3px;
	background-color: #e34c25;
}

/* And so the cruft accumulates... */

.navbar-fixed-top {
	background-color: #E55D39; /* #f5f5f5; */
	border-bottom: 1px solid #f3f3f3;
	box-shadow: 0 0 6px #999;
	height: 60px;
	margin-bottom:20px;
	font-weight: normal;
	font-weight: lighter;
}

.cycleAtl_title {
	padding-top: 0px;
	margin-top: -13px;
	font-weight: normal;
	color: #fff;/* rgb(13,85,135); */
	font-size: 48px;
}

.cycleAtl_title a{
	text-decoration: none;
	color:#fff;
	padding:2px 4px 2px 4px;
}

.cycleAtl_title a:hover{
	text-decoration: none;
	color:#fff;
	background-color: rgba(255,255,255,.2);
}

.smallText{
	font-size: 24px;
	color: #fff;
	margin-left: 60px;
}