html, body, #map{
	
height:100%;
font-family: Arial, Helvetica, sans-serif;
z-index: 1;
}

.cyclePHL_title {
	margin: 1% 1%;
	z-index: 10;
background-color: rgba(169,9,1,0.8); /* red */

	width: 95%;
	height: 12%;
	position:fixed;
	padding:3px;
	border-radius: 4px;
}

#cycleTitleText {
	color: #ffffff;/* rgb(13,85,135); */

margin-top: 1%;
padding: 5px;
	font-size: 4em;
position: relative;
clear: none;
float: left;

}

.chosenBox {

z-index: 25;
background-color: rgb(0,0,0);
	width: 35%;
	height: 100%;
	position: relative;
	border-radius: 4px;
	clear: none;
	float: right;

}

p {

font-size: 1.5em;
color: #ffffff;
padding: 2px;
}


