<md-content style="background-color: rgba(255, 255, 255, 0);">
<section class="cycle-content-block" id="about" data-speed="4" data-type="background" layout-padding>
<div class="container" layout-padding>
<div class="page-header">
<h1>About</h1>
</div>
<md-divider></md-divider>
<div class="row-fluid">
<div class="span4">
<p>Cycle Philly was developed by <a href="http://www.codeforphilly.org/projects/Bike_Route_Tracker">Code for Philly</a>, an open group of citizens working to harness the power of technology to modernize citizenship in Philadelphia.</p>
<p>CyclePhilly users are helping planners in the City of Philadelphia and Delaware Valley build better bike routes.</p>
<p><a href="http://codeforphilly.org/projects/Bike_Route_Tracker">Learn More &raquo;</a>
</p>
</div>
 
</div>
</section>
</md-content>