<md-content style="background-color: rgba(255, 255, 255, 0);">
<section class="cycle-content-block" id="about" data-speed="4" data-type="background" layout-padding>
<div class="container" layout-padding>
<div class="page-header">
<h1>shirts</h1>
</div>
<md-divider></md-divider>
<div class="row-fluid">
<div class="span4">
<p>Proceeds from the sales of CyclePhilly T-Shirts help us offset the costs of managing the project.</p>
<p><a class="sq-embed-item" href="https://squareup.com/market/cyclephilly/cyclephilly-t-shirt-small">Buy on Square Market</a></p>
</div>
</div>
</section>
</md-content>