

@font-face {

	font-family: 'ChunkFive';
	src: url('../fonts/ChunkFive.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ChunkFive.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/ChunkFive.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/ChunkFive.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/ChunkFive.svg#ChunkFive') format('svg'), /* Legacy iOS */
	     url('../fonts/ChunkFive.otf') format('opentype');
	}



/*@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {*/

#selector {


width: 100%;


}




input[type=submit] {

border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#16A6C9), to(#65a9d7));
   background: -webkit-linear-gradient(top, #16A6C9, #65a9d7);
   background: -moz-linear-gradient(top, #16A6C9, #65a9d7);
   background: -ms-linear-gradient(top, #16A6C9, #65a9d7);
   background: -o-linear-gradient(top, #16A6C9, #65a9d7);
   padding: 7px 14px;
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 1em;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;

width: 150px;

}


input[type=submit]:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
input[type=submit]:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


#branding {

overflow: hidden;
/*clear: none;*/
float: left;
/*display: block;*/
}

#logo {


padding: 10px .76em 2em 1em;  /*  top    1em  padding  */
                             /*  right  3px  padding  */
                             /*  bottom 30px padding  */
                             /*  left   5px  padding  */
float: left;
display: inline-block;
width: 100px;
overflow:hidden;


}




#cyclephilly {
	float: left;
	font-family: ChunkFive, Arial, sans-serif;
	font-size: 2em;
	line-height: 2em;
	margin: 5px;
	overflow: hidden;
	padding: 0px;
	color: #256baf;
	}



	#ride {
	clear: left;
	color: #16A6C9;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 0.5em;
	font-weight: bold;
	margin-left: 135px;
	margin-top: -90px;
	overflow: hidden;
	padding: 0px;
	text-transform: uppercase;
	}

/*}*/



/*@media only screen and (max-width: 320px) {*/

	/*#cyclephilly {
	float: left;
	font-family: ChunkFive, Arial, sans-serif;
	font-size: 2em;
	line-height: 2em;
	margin: 5px;
	overflow: hidden;
	padding: 0px;
	}



	#ride {
	clear: left;
	color: #16A6C9;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 0.5em;
	font-weight: bold;
	margin-left: 135px;
	margin-top: -90px;
	overflow: hidden;
	padding: 0px;
	text-transform: uppercase;
	}



}*/

#chunk {


font-family: ChunkFive, Helvetica, Arial, sans-serif;

}

#chunk1 {


font-family: ChunkFive, Helvetica, Arial, sans-serif;
font-size: 1em;
color: #16A6C9;

}


@media only screen and (min-width : 768px) {
/* Styles */




#cyclephilly {
margin-top: 35px;
margin-bottom: 0;
font-family: ChunkFive, Arial, sans-serif;
padding: 0 20px 0 0;  /*  top    1em  padding  */
                             /*  right  3px  padding  */
                             /*  bottom 30px padding  */
                             /*  left   5px  padding  */

line-height: 2em;
/*font-size: 2.5em;*/

font-size: 40px;
font-weight: 50;
float: left;
color: #256BAF;
overflow: hidden;
}

#ride {

	margin-top: -55px;
	margin-left: 135px;
	padding: 0 0 0 0;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	/*font-size: 19em;*/

	font-size: 10px;
	clear: left;
	float: left;
	font-weight: bold;
	color: #16A6C9;

	overflow: hidden;

}

} /* end media query */




#icon {

width: 10%;
height: auto;
float: left;
padding: 1%
}


header a {


	color: #5A7B37;
	font-weight: bold;
	text-decoration: none;

	}

header a:hover {


	color: #000;


	}	

.halfie {


width: 50%;
heigh:auto;

}
/********************************************
	Progresive Background Image Scrolling
********************************************/




#tweet {


width: 15%;
height: 15%;
}




/********************************************
	Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
}

/********************************************
min-height to accomodate longer text on h4s
********************************************/

h4 {
	
	
	
	min-height: 75px;
	align: center;
	
	}



/********************************************
	Normalize CSS
	http://necolas.github.com/normalize.css/
********************************************/

 html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

}

body {
	min-height: 100%;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
	display: block;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

b,
strong {
	font-weight: bold;
}

abbr[title] {
	border-bottom: 1px dotted;
}

input,
textarea,
button,
select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	overflow: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ******************************************
	Web Fonts
****************************************** */

/*@font-face {
    font-family: 'Roboto Condensed Light';
    src: url('file:///C|/Users/ca458/AppData/Local/Temp/Temp1_RWD_08_Lesson_files (2).zip/08_Lesson_files/fonts/robotocondensed-light-webfont.eot');
    src: url('file:///C|/Users/ca458/AppData/Local/Temp/Temp1_RWD_08_Lesson_files (2).zip/08_Lesson_files/fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
url('file:///C|/Users/ca458/AppData/Local/Temp/Temp1_RWD_08_Lesson_files (2).zip/08_Lesson_files/fonts/robotocondensed-light-webfont.woff') format('woff'),
url('file:///C|/Users/ca458/AppData/Local/Temp/Temp1_RWD_08_Lesson_files (2).zip/08_Lesson_files/fonts/robotocondensed-light-webfont.ttf') format('truetype'),
url('file:///C|/Users/ca458/AppData/Local/Temp/Temp1_RWD_08_Lesson_files (2).zip/08_Lesson_files/fonts/robotocondensed-light-webfont.svg#RobotoCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/* ******************************************
	Custom Styles
****************************************** */

/*	  For details on font-size:100% see here: 
      http://filamentgroup.com/lab/how_we_learned_to_leave_body_font_size_alone/ 
	  
	  For details on line-height:1 see here:
      http://meyerweb.com/eric/thoughts/2008/05/06/line-height-abnormal/ 

	  For details on text-size-adjust:100% see here:
	  https://developer.mozilla.org/en-US/docs/CSS/text-size-adjust 
*/




html {
   font-size: 100%;
   line-height: 1;
   -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%; 
}

body {
	font-family: Arial, sans-serif;
	/*background: #eee url("file:///C|/Users/ca458/AppData/Local/Temp/Temp1_RWD_08_Lesson_files (2).zip/08_Lesson_files/img/bg-pattern.png") repeat 0 0; */
}

p, #resume li {
	font-size: 1.063em; /* 17px / 16 = 1.063em */
	line-height: 1.223; /* 1.3 / 1.063 = 1.223 */
	margin: .612em 0;
}

h1,h2,h3,h4,h5,h6 {
	    font-weight: 200;
	    }
		
h1 {
	font-size: 3.189em;
	line-height: 1.223;
		}
	
h2  {
	font-size: 1.5em;
	line-height: 1.2;
		    }
			
h1, h2 {
	text-shadow: 0 2px 2px rgba(0, 0, 0, .65);
			 }
			 
h3 {
	font-size: 1.382em; 
	line-height: 1.223;
		}
		    
h4 {
	font-size: 1em;
	line-height: 1.56;
	text-transform: uppercase;
		}
		
h3,h4 {      
	font-weight: 300;
	text-transform: uppercase;
		}
		
h5 {
	font-size: .8125em;
	line-height: 1.125;
		}

h5,h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .85em;
	line-height: 1.53;
	font-weight: 500;
		}
h6 {
	color: #aaa;
	font-weight: 200;
		}
		
.wrapper {
	        padding: 0 .65em;
	        -webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	        box-sizing: border-box;
	        min-height: 125px;
		}
		
#masthead {
			color:#fff;
		      
				background-color: rgba(151,151,151, 0.3);
				padding: 5%;

		}
		
		
#nav h3 {
	text-transform: capitalize;
	color: black;
		}
		
#content article {
	padding-top: .65em;
	padding-bottom: 1.3em;
		}
		
#portfolio h4 {
	line-height: 1.82;
		}

.box {
			padding:14px;
		}
		
.box h4 {
	color: #999;
	border-top: 4px double #eee;
	border-bottom: 1px solid #eee;
	margin-bottom: .975em; /* 3/4 of 1.3 */
	text-align: center;
		}
		
.box ul {
	list-style: none;
	padding: 0;
		}

#portfolio figure,.box {
	background: #fff;
	-moz-box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .1 );
	-webkit-box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .1 );
	box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .1 );
	padding: .975em; /* 3/4 of 1.3 */
		}
		
section footer {
	clear: both;
		   }

#container-nav {
	background:#fff;
	color: #fff;
	border-bottom-color: #fff;
}

#container-header {
	/*background: #EE0000 url("../img/skyline_trace.png") no-repeat top center;*/
	padding: 10% 0;
	width:100%;
	-webkit-background-size: cover;
			    -moz-background-size: cover;
			    background-size: cover;

}


#container-content {
	/*background: #EE0000; */
	padding: 10% 0;
	width:100%;
	/*-webkit-background-size: cover;
			    -moz-background-size: cover;
			    background-size: cover; */

}

#container-content {
	padding: 24px 0;
}

#container-footer {
	padding: 32px 0;
	background:#000;
	color:#eee;
	font-weight:100;
}

img {
	max-width:100%;
}

#nav,
#masthead, 
#content,
#colophon {
    margin: 0 3.3%;
    }



/* ******************************************
	   Form Styles Basic Layout
****************************************** */

	form {
	    padding: 0 0 1.3em;
	    }
    
	form ul {
	    list-style: none;
	    padding: 1.3em 0 0;
	    }
    
	form li {
	    padding: 0 0 .65em;
	    }
	
	legend {
		font-size: 1.382em; 
		line-height: 1.223;
		}
		    
	label {
	    display: block;
		font-size: 1em;
		line-height: 1.56;
	    padding: 0 0 .325em;
		}
		
	legend, label {      
		font-weight: 300;
		text-transform: uppercase;
		color: #fff;
		}
	
	input,
	textarea {
	    display: block;
	    width: 100%;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 1em;
		line-height: 1.3;
		font-weight: 500;
	    padding: .65em;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    }

	/**
	 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
	 * 2. Improve readability and alignment in all browsers.
	 */

	textarea {
	    padding-bottom: 10%;
	    overflow: auto; /* 1 */
	    vertical-align: top; /* 2 */
	    }

	.send {
	    display: inline-block;
	    max-width: 30em;
	    font-size: 1em;
	    line-height: 1;
	    font-weight: 500;
	    color: #fff;
	    text-decoration: none;
	    background: #0074b0;
	    margin: .65em .26em;
	    padding: .975em;
	    border: 0;
	    border-radius: 1.3em;
	    text-shadow: 0 -1px 1px rgba(0, 0, 0, .65);
	    }
    
	.send:hover {
	    background: #6f6f6f;
	    }
    
	.send:active,
	.send:focus {
	    background: #555;
	    }

/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */

.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    clear: both;
}

.group {
    *zoom: 1; /* 3 */
    }




		#corey {
    width: 25%;
    height: auto;
    /* margin-left: 37%; */
    float: right;
    }
    
#corey img {
    width: 100%;

    }

    	#corey1 {
    width: 25%;
    height: auto;

    /* margin-left: 37%; */
    float: right;
/*    background-color: rgba(0,3,51,0.7);
*/
    }
    
#corey1 img {
    width: 100%;

    }


/********************************************
	Fluid Media
	********************************************/

	figure {
	    position: relative;
	}

	figure img,
	figure object,
	figure embed,
	figure video {
	    display: block;
	    max-width: 100%; 
	}

	img {
	    border: 0;
	    -ms-interpolation-mode: bicubic;
	}

	/* 
	interpolation-mode
	http://css-tricks.com/ie-fix-bicubic-scaling-for-images/
	 */
	
	
/* Creates hover effect on Portfolio images */
	#portfolio figure:hover,
	.box:hover {
	    -moz-box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
	    -webkit-box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
	    box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
	}

	/* Image Offset for Indication of Linked Content */

	#portfolio figure:hover {
	    bottom: .26em;
	}
	





	/* ******************************************
	    IE 7 and below, legacy browser style fixes
	****************************************** */

	.ie .wrapper {
	    *behavior: url("http://absolute-path.com/js/boxsizing.htc");
	}

	/* Clearfix */

	.group {
	    *zoom: 1;
	    }

/* ******************************************
	Media Queries for screen wider than 45em (720px)
****************************************** */

	@media screen and (min-width: 45em) {

	    body {
	        font-size: 107.692307692308%;
	        }

		#portfolio article,
		#resume article {
			float: left;
			width: 33.333%;
		}
		
		/*#masthead {
			max-width:40em;
		}*/


		#nav,
		#masthead,
		#content,
		#colophon {
		    margin: 0 5.5%;
		    }
			
			.name, .email {
			    float: left;
			    width: 50%;
			    -webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
			    }
    
			.name {
			    padding-right: .65em;
			    }
    
			.email {
			    padding-left: .65em;
			    }
    
			.send {
			    width: 48.6%;
			    }
	
	}
	
	/* ******************************************
		Media Queries for screen wider than 60em (960px)
	****************************************** */
	
	@media (min-width: 60em) {

	.name, .email {
	    padding-right: 1.3em;
	    padding-left: 0;
	    clear: both;
	    }
    
	.message textarea {
	    width: 50%;
	    }
    
	.send {
	    width: 25%;
	    margin-left: 50%;
	    }
    
	}








#nav {
    padding: .65em 0;
}

/*
- Float heading and capitalize content.
*/

#nav h3 {
    float: left;
    text-transform: capitalize; 
}



/* 
- Remove <ul> list-style and default padding.
- Add a border-top to separate each <li>.
- Add a border-bottom to <ul> to wrap-up border styling. 
- Add margin to separate, push off <ul> from heading/navicon and below #masthead section.
*/

#nav ul {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #eee;
    margin: .65em 0 .39em;

/*float: left;*/

}

#nav li {
   border-top: 1px solid #eee;
}



/* 
- Style inline <a> to become a block element.
- Update font-size to reflect foundation font scale defined by body text (<p>).
- Override default link color
- Remove default <a> text-decoration of underline.
- Add padding, keeping horizontal and vertical rhythm.
 */

#nav a {
   display: block;
   font-size: 1.063em;
   color: #000;
   text-decoration: none;
   padding: .975em 1.3em; 
}

#nav a:hover {
   background: #dfdeb6;
}


/* 
Hide <nav> off-screen
http://37signals.com/svn/posts/3126-another-9999px ]
*/

#nav nav {
    height: 0;
    overflow: hidden;
}


/* ******************************************
    Advanced Checkbox Hack
****************************************** */

body { 
    -webkit-animation: bugfix infinite 1s; 
}

@-webkit-keyframes bugfix {
    from {padding: 0;} 
    to {padding: 0;} 
}

#nav input[type=checkbox] {
    position: absolute;
    top: -999em;
    left: -999em;
}


#nav label { 
    display: block;
    background: url("../img/icon-menu.png") no-repeat right center;
    text-indent: -999em;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    clear: both;
}

/* 
6. Show <nav> on-screen / drop-down menu 
*/

#nav input[type=checkbox]:checked ~ nav {
    height: auto;
    overflow: hidden;  
}

/*#nav ul {

float: left;
clear: both;
margin: 100px 0 0 -100px;

}*/
/* ******************************************
    Media Queries
****************************************** */

/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {

    /*
    1. Remove padding from one-column layout style.
    */


    #selector {


    	width: 50%;


    }
    
    #nav {
        padding: 0;
    }
    
    /*
    2. Adjust headline baseline using margin-top to align with horizontal menu and margin-right to create a gap/division from the two types of content.
    */

    #nav h3 {
         margin: .39em 1.3em 0 0;
    }
    
    /*
    3. Remove <label> element.
    */

    #nav label {
        display: none;
    }
    
    /* 
    4. Show <nav> on-screen.
    */

    #nav nav {
        height: auto;
        overflow: visible;
    }
    
    /* 
    5. Remove border and margin from one-column layout style.
    */
    
    #nav ul {
        border: 0;
        margin: 0;
        }
        
    /* 
    6. Display <li> as inline for horizontal menu layout.
    7. Remove border.
    */

    #nav li {
        display: inline;
        border: 0;
    }
    
    /* 
    8. Display <a> from block to inline-block to remain inline for horizontal menu layout.
    */
    
    #nav a {
        display: inline-block;
        }

}   

#center_top {

text-align: left;

}








/* ******************************************
	Print Styles
****************************************** */
@media print and (max-width: 8.5in){
	
	#masthead {
		color:black;
	}
	
	#container-header {
		height: auto;
	}
	
	img {
		width:2in;
	}
	
	#portfolio	{
		float:left;
		width:45%;
	}
	
	#resume	{
		float:right;
		width:45%;
	}
	
	#container-footer	{
		clear:both;
	}
	
}



/* ******************************************
    IE 8 and below, legacy browser style fixes
****************************************** */

/* Figures/Images */

.ie #portfolio figure {
    width: 100%;
    box-sizing: border-box;
    }

/* "*" hack applies only to IE7 and below */

.ie #portfolio figure {
    *width: auto;
    }
   
/* Navigation */

/* IE8 .checked class for checkbox.js */

#nav input[type=checkbox].checked ~ nav {
    height: auto;
    overflow: visible;  
}

/* Always show nav, IE7 and below */

.ie #nav nav {
    *height: auto;
    *overflow: visible;  
}

/* Hide navicon, IE7 and below */

.ie #nav label { 
    *background: none;
    }
     
/* box-sizing polyfill, IE7 and below (The URL in .ie textarea is placeholder only. You will need to replace with path to your domain) */

.ie .wrapper,
.ie .name,
.ie .email,
.ie input,
.ie textarea {
    *behavior: url("http://www.absolute-path.com/js/boxsizing.htc");
}


/* ******************************************
    Media Queries for screen wider than 60em (960px)
****************************************** */

@media screen and (min-width: 60em) {
    
/* Form Fixes, IE7 and below */

.ie .message textarea {
    *width: 49.9%;
    }

.ie .send {
    *margin-left: 46.7%;
    }

}













/* Object Oriented CSS floats percents and scales */


.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */





.float-left {
   float:left;
   width:50%;
   margin:0 20px 10px 0;
}

.float-right {
   float:right;
   width:50%;
   margin:0 0 10px 20px;
}

.percent-95 {
    width:95%;
   height:auto;
}

.percent-90 {
    width:90%;
   height:auto;
}

.percent-85 {
    width:85%;
   height:auto;
}

.percent-80 {
    width:80%;
   height:auto;
}

.percent-75 {
    width:75%;
   height:auto;
}

.percent-70 {
    width:70%;
   height:auto;
}

.percent-65 {
    width:65%;
   height:auto;
}

.percent-60 {
    width:60%;
   height:auto;
}

.percent-55 {
    width:55%;
   height:auto;
}

.percent-50 {
    width:50%;
   height:auto;
}

.percent-45 {
    width:45%;
   height:auto;
}

.percent-40 {
    width:40%;
   height:auto;
}

.percent-35 {
    width:35%;
   height:auto;
}

.percent-30 {
    width:30%;
   height:auto;
}

.percent-25 {
    width:25%;
   height:auto;
}

.percent-20 {
    width:20%;
   height:auto;
}

.percent-15 {
    width:15%;
   height:auto;
}

.percent-10 {
    width:10%;
   height:auto;
}

.percent-5 {
    width:5%;
   height:auto;
}

.pad-10 {
   padding:10%;
}

.pad-9 {
   padding:9%;
}

.pad-8 {
   padding:8%;
}

.pad-7 {
   padding:7%;
}

.pad-6 {
   padding:6%;
}
.pad-5 {
   padding:5%;
}

.pad-4 {
   padding:4%;
}

.pad-3 {
   padding:3%;
}

.pad-2 {
   padding:2%;
}

.pad-1 {
   padding:1%;
}

.pad-0 {
   padding:0;
}

.marg-10 {
   margin:10%;
}

.marg-9 {
   margin:9%;
}

.marg-8 {
   margin:8%;
}

.marg-7 {
   margin:7%;
}

.marg-6 {
   margin:6%;
}

.marg-5 {
   margin:5%;
}

.marg-4 {
   margin:4%;
}

.marg-3 {
   margin:3%;
}

.marg-2 {
   margin:2%;
}

.marg-1 {
   margin:1%;
}

.marg-0 {
   margin:0;
}

.no-scale {
   width:auto;
   height:auto;
}

.marg-left {


margin-left: 20%;


}

.marg-top-5{


margin-top: 5%;


}



.marg-top-10{


margin-top: 10%;


}

.marg-top-15{


margin-top: 15%;


}

.marg-top-20{


margin-top: 20%;


}



/* scale - emy26 */

.scale-90 {
   -webkit-transform: scale(.95);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
}

.scale-80 {
   -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
}

.scale-70 {
   -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -o-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
}

.scale-60 {
   -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -o-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
}

.scale-50 {
   -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}

.scale-40 {
   -webkit-transform: scale(.4);
    -moz-transform: scale(.4);
    -o-transform: scale(.4);
    -ms-transform: scale(.4);
    transform: scale(.4);
}

.scale-30 {
   -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    -o-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
}

.scale-20 {
   -webkit-transform: scale(.2);
    -moz-transform: scale(.2);
    -o-transform: scale(.2);
    -ms-transform: scale(.2);
    transform: scale(.2);
}

.scale-10 {
   -webkit-transform: scale(.1);
    -moz-transform: scale(.1);
    -o-transform: scale(.1);
    -ms-transform: scale(.1);
    transform: scale(.1);
}






/* fade element - emy26 */

.fade {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; /* for IE8 in IE7 mode */
    filter: alpha(opacity=100); /* for IE6-IE8 */
    opacity: 1.0;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   -ms-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

.fade:hover {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)"; /* for IE8 in IE7 mode */
    filter: alpha(opacity=60); /* for IE6-IE8 */
    opacity: .6;
}





	
