<md-content style="background-color: rgba(255, 255, 255, 0);">
  <section class="cycle-content-block" id="intro" data-speed="6" data-type="background">
    <div class="container">
    <header class="masthead wrapper">
    <div class="container" id="center_top">
    <h1 class="text-center" id="chunk">CyclePhilly</h1>
    <p class="text-center">CyclePhilly is a smartphone app for recording your bicycle trips. Data from the app can be used by regional transportation planners in the Philadelphia area to make Philly a better place to ride.</p>
    <p class="text-center">
    <a href="http://dev.cyclephilly.org/android"><img class="no-scale" src="./assets/img/play.png"></a>
    <a href="https://itunes.apple.com/us/app/cyclephilly/id850035510?ls=1&amp;mt=8"><img class="no-scale" src="./assets/img/appstore.png"></a>
    </p>
    </div>
    <div class="container" style="max-height: 70px;">
    <div class="row">
    <div class="span4 text-center">
    <a href="http://www.twitter.com/cyclephilly">
    <img class="no-scale float-right" src="./assets/img/Twitter_logo_white_sml.png">
    </a>
    </div>
    </div>
    </div>
    </header>
    </div>
  </section>
</md-content>