<md-content style="background-color: rgba(255, 255, 255, .70);">
<section style="md-whiteframe-z2" layout-fill layout-padding>
  <div class="page-header">
<h1>Our Partners</h1>
</div>
<md-tabs md-dynamic-height md-border-bottom>
<md-tab label="Code for Philly">
        <md-content class="md-padding">
          <img src="http://cyclephilly.org/themes/cycle/img/codeforphilly1.png">
        </md-content>
      </md-tab>
      <md-tab label="DVRPC">
        <md-content class="md-padding">
          <img src="http://cyclephilly.org/themes/cycle/img/dvrpc1.png">
        </md-content>
      </md-tab>
      <md-tab label="SEPTA">
        <md-content class="md-padding">
          <img src="http://cyclephilly.org/themes/cycle/img/septa.png">
        </md-content>
      </md-tab>
      <md-tab label="City of Philadelphia">
        <md-content class="md-padding">
          <img src="http://cyclephilly.org/themes/cycle/img/cityphilly1.png">
        </md-content>
      </md-tab>
      <md-tab label="Bicycle Coalition">
        <md-content class="md-padding">
          <img src="http://cyclephilly.org/themes/cycle/img/bikecoalition.png">
        </md-content>
      </md-tab>
      
    </md-tabs>
</section>
</md-content>