.html
{
	background: #D31208 url("../images/skyline_trace.png") repeat-y left top;
}

#page
{
	z-index: 1;
	width: 929px;
	min-height: 485px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 15px 246px 16px;
}

#pu97-4
{
	width: 0.01px;
	margin-left: 4px;
	position: relative;
}

#u97-4
{
	z-index: 2;
	width: 407px;
	min-height: 84px;
	margin-right: -10000px;
	font-family: 'Audiowide', cursive;
}

#u100-4
{
	z-index: 6;
	width: 433px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 413px;
}

#u381
{
	z-index: 10;
	width: 135px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 495px;
}

#u394
{
	z-index: 12;
	width: 120px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 640px;
}

#u395
{
	z-index: 12;
	width: 140px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 610px;
}


#u864
{
	z-index: 14;
	width: 85px;
	margin-right: -10000px;
	margin-top: 74px;
	left: 752px;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 16px;
}

#u1063-5
{
	z-index: 56;
	width: 149px;
	min-height: 31px;
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 8px;
}

#u1067-5
{
	z-index: 61;
	width: 149px;
	min-height: 31px;
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
}

#u1068-5
{
	z-index: 66;
	width: 149px;
	min-height: 31px;
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 160px;
}

#u1069-55
{
        z-index: 66;
        width: 149px;
        min-height: 31px;
        background-color: #000000;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        position: relative;
        margin-right: -10000px;
        margin-top: 92px;
        left: 320px;
}


#u433-9
{
	z-index: 18;
	width: 909px;
	min-height: 177px;
	padding: 10px;
	margin-top: 66px;
	position: relative;
	font-family: Arial, serif;
}

#u949
{
	z-index: 43;
	width: 410px;
	position: fixed;
	top: 735px;
	left: 0px;
}

#abour
{
	margin-left: 24px;
	margin-top: 624px;
	position: relative;
}

#pu1069-5
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 93px;
	position: relative;
}

#u1069-5
{
	z-index: 71;
	width: 149px;
	min-height: 31px;
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1070-5
{
	z-index: 76;
	width: 149px;
	min-height: 31px;
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u954
{
	z-index: 17;
	width: 905px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: 4px;
	margin-top: 18px;
	position: relative;
}

#u857-16
{
	z-index: 27;
	width: 909px;
	min-height: 261px;
	padding: 10px;
	margin-bottom: -43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u857-14
{
	font-size: 20px;
	color: #FFFFFF;
}

#pmap
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 624px; /* changed from 160 to 624 px to even out spacing between sections */
	position: relative;
}

#map
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 6px;
}

#u1071-5
{
	z-index: 81;
	width: 149px;
	min-height: 31px;
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u1072-5
{
	z-index: 86;
	width: 149px;
	min-height: 31px;
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 163px;
}

#u966
{
	z-index: 16;
	width: 919px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 56px;
	margin-left: 4px;
	margin-top: 15px;
	position: relative;
}

#u1062-8
{
	z-index: 48;
	width: 388px;
	min-height: 288px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 31px;
}

#u1073
{
	z-index: 91;
	width: 510px;
	position: relative;
	margin-right: -10000px;
	margin-top: -66px;
	left: 471px;
	margin-top: 11px;
	left: 424px;
}

body
{
	padding-top: 36px;
	/* padding-bottom: 1349px; */
}

#page .verticalspacer
{
	clear: both;
}

